<h1><%= @piece.name %></h1>
<h3>Defense: <%= @piece.defense %></h3>
<h3>Fire Resistance: <%= @piece.fire_res %></h3>
<h3>Water Resistance: <%= @piece.water_res %></h3>
<h3>Thunder Resistance: <%= @piece.thunder_res %></h3>
<h3>Ice Resistance: <%= @piece.ice_res %></h3>
<h3>Dragon Resistance: <%= @piece.dragon_res %></h3>
